@CHARSET "UTF-8";
/*01_css.css*/

body {
	font-size: 1em; /*pt, em:폰트 */
	color: #333;
	font-family: "바탕체";
}

header, article, footer, #sidemenu {
	border: 1px solid #999; /* 실선 */
	margin: 5px; /* 상하좌우 마진(바깥여백) */
	padding: 10px; /*상하좌우 안쪽 여백 */
}

header {
	height: 100px;
	background-color: #FC0;
}

article {/*본문*/
	float:right;/*정렬*/
	width:70%;
	font-size: 0.75em;/* pt, em :폰트 */
	line-height: 1.5em;/* 줄 간격*/
}

figure {/* 그림 넣는 태그 */
	float:right;  /*정렬*/
	margin:5px;	/*상하좌우 바깥여백*/
}

figure img {
	border:1px solid #666;
	box-shadow:#CCC 5px 5px 5px; /*그림자*/
}

figcaption {/*그림제목*/
	text-align:center;
}

section {
	width:95%;/* 가로폭 */
	height:100px; /*높이 */
	padding:10px; /*상하좌우 안쪽여백 */
	background-color: #FF9;
	clear:both; /**/
}

#sidemenu {
	float:left;/*왼쪽정렬*/
	width:20%;
	height:200px;
}

#sidemenu ul {
	list-style:none;
}

footer {
	clear:both;
	height:100px;
	background-color: #6CF;
}

nav ul li {/*할아버지 아버지 아들*/
	float:left;/* 정렬*/
	margin:0 20px;/*상하 좌우*/
}

aside {/* Article의 내용 보충용 콘텐츠 */
	width:90%;
	height:30px;
	border:1px solid #09F;
}

hgroup {/*h1 h2 h3 .....*/
	border-bottom: 1px solid #F90;
}
